body {
    font-family: 'Nanum Myeongjo', Serif;
    background-color: #f2efe4;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

/** 메뉴 바 **/
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-bar button img {
    width: 40px;
    height: 40px;
}

/** 검색창 **/
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 18px;
}

.search-container {
    position: relative;
    width: 95%;
}

.search-bar input {
    font-family: 'Nanum Myeongjo', Serif;
    width: 90%;
    padding: 18px 15px;
    border-radius: 15px;
    border: 1px solid #f1f1f1;
    outline: none;
    font-size: 14px;
    background-color: #ffffff;
}

.search-bar input::placeholder {
    color: #c8c8c8;
}

#searchButton {
    position: absolute;
    top: 50%;
    right: 16px; /* 오른쪽 여백 조정 */
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img {
    width: 20px; /* 검색 아이콘 크기 */
    height: 20px;
}

/** 카테고리 **/
.category-list {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    display: flex; /* 가로 배열 */
    justify-content: flex-start; /* 항목을 왼쪽 정렬 */
    gap: 15px; /* 항목 간의 간격 강제 설정 */
    padding-top: 10px;
    padding-left: 30px; /* 왼쪽에 여백 추가 */
    margin: 0;
}

.category-list li {
    font-size: 18px;
}

.category-list .category-select {
    color: #000;
}

.category-list li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #BBBBBB; /* 텍스트 색상 */
    font-weight: bold;
}

/** 사진 항목 **/
.tour-container-title {
    padding: 10px 24px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
}

.tour-title {
    font-weight: bold;
}

.tour-address {
    margin-top: -10px;
    font-size: 12px;
    color: #757575;
}

/* Swiper 공통 스타일 */
.tour-container,
.tour-container-2,
.tour-container-3 {
    padding: 0 14px; /* 내부 여백 설정 */
    padding-bottom: 10px;
    overflow: hidden; /* 내부 요소가 padding을 넘어서지 않도록 설정 */
}

.swiper-container,
.swiper-container-2 {
    overflow: hidden; /* 화면 밖으로 나가는 요소 숨기기 */
}

.swiper-container-3 {
    padding-bottom: 100px;
    overflow: hidden; /* 화면 밖으로 나가는 요소 숨기기 */
}

.swiper-slide,
.swiper-slide-2,
.swiper-slide-3 {
    padding: 0 8px; /* 슬라이드 자체에 padding 적용 */
    box-sizing: border-box; /* padding이 width에 영향을 미치지 않도록 설정 */
}

.swiper-slide img,
.swiper-slide-2 img,
.swiper-slide-3 img {
    width: 200px; /* 이미지의 너비를 100%로 설정 */
    height: 200px; /* 높이를 0으로 설정 */
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 함 */
    border-radius: 10px;
}

.swiper-scrollbar,
.swiper-scrollbar-2,
.swiper-scrollbar-3 {
    display: none; /* 스크롤바 숨기기 */
}

.chatbot-link {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}