body {
    font-family: 'Nanum Myeongjo', Serif;
    background-color: #f2efe4;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

/** 메뉴 바 **/
.menu-bar {
    display: flex;
    justify-content: center; /* 버튼을 수평으로 중앙 정렬 */
    align-items: center; /* 수직으로 중앙 정렬 */
    padding: 15px;
}

.menu-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-bar #menuButton img {
    width: 180px;
    height: 50px;
    display: block; /* 중앙 정렬을 위해 이미지 자체도 블록 요소로 처리 */
}

/*.menu-bar #userButton img {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*}*/

/** 검색창 **/
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 18px;
}

.search-container {
    position: relative;
    width: 95%;
}

.search-bar input {
    font-family: 'Nanum Myeongjo', Serif;
    width: 90%;
    padding: 18px 15px;
    border-radius: 15px;
    border: 1px solid #f1f1f1;
    outline: none;
    font-size: 14px;
    background-color: #ffffff;
}

.search-bar input::placeholder {
    color: #c8c8c8;
}

#searchButton {
    position: absolute;
    top: 50%;
    right: 16px; /* 오른쪽 여백 조정 */
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img {
    width: 20px; /* 검색 아이콘 크기 */
    height: 20px;
}

/** 카테고리 **/
.category-list {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    display: flex; /* 가로 배열 */
    justify-content: flex-start; /* 항목을 왼쪽 정렬 */
    gap: 15px; /* 항목 간의 간격 강제 설정 */
    padding-top: 10px;
    padding-left: 30px; /* 왼쪽에 여백 추가 */
    margin: 0;
}

.category-list li {
    font-size: 18px;
}

.category-list .category-select {
    color: #000;
}

.category-list li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #BBBBBB; /* 텍스트 색상 */
    font-weight: bold;
}
