<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/assistant/independence.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <div class="main-container">
        <!-- 메뉴 바 -->
        <header class="menu-bar">
            <button id="menuButton"><img src="{% static 'image/assistant/menu.svg' %}" alt="Menu" class="size-12"></button>
            <button id="userButton"><img src="{% static 'image/assistant/user-circle.svg' %}" alt="User" class="size-12"></button>
        </header>

        <!-- 검색창 -->
        <div class="search-bar">
            <div class="search-container">
                <form method="GET" action="{% url 'search-results' %}">
                    <input type="text" placeholder="대화하고 싶은 서비스를 검색해보세요" name="query" id="searchInput">
                    <button id="searchButton" type="submit"><img src="{% static 'image/assistant/search.svg' %}" alt="Search"></button>
                </form>
            </div>
        </div>

        <!-- 카테고리 -->
        <div>
            <ul class="category-list">
                <li><a href="{% url 'main-select' %}">추천</a></li>
                <li><a href="{% url 'local-select' %}">지역별</a></li>
<!--                <li><a href="{% url 'thema-select' %}">테마별</a></li>-->
                <li><a href="{% url 'independence-select' %}" class="category-select">독립운동</a></li>
            </ul>
        </div>

        <!-- 어시스턴트를 주제별로 보여줌 -->
        {% for description, assistants in assistants_by_description.items %}
            <p class="tour-container-title">{{ description }}</p>
            <div class="tour-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for assistant in assistants %}
                            <div class="swiper-slide tour-item">
                                <a href="/chatbot/{{ assistant.id }}/" class="chatbot-link" style=" text-decoration: none; color: inherit;">
                                    <img src="{{ assistant.photo.url }}" alt="{{ assistant.name }}">
                                    <p class="tour-title">{{ assistant.name }}</p>
                                    <p class="tour-address"> {{ assistant.province.name }}, {{ assistant.city_county_town.name }}, {{ assistant.country }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swipers = [];
        document.querySelectorAll('.swiper-container').forEach((container, index) => {
            swipers.push(new Swiper(container, {
                loop: false,
                slidesPerView: 1.9,
                spaceBetween: 2,
                scrollbar: {
                    el: container.querySelector('.swiper-scrollbar'),
                    draggable: true,
                },
            }));
        });
    </script>
</body>
</html>