<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- static 태그 로드 -->
    {% load static %}

    <!-- 정적 파일 경로에서 CSS 참조 -->
    <link rel="stylesheet" href="{% static 'css/assistant/theme.css' %}">
</head>
<body>
    <div class="main-container">
        <header class="menu-bar">
            <button id="menuButton"><img src="{% static 'image/assistant/menu.svg' %}" alt="Menu" class="size-12"></button>
            <button id="userButton"><img src="{% static 'image/assistant/user-circle.svg' %}" alt="User" class="size-12"></button>
        </header>

        <!-- 검색창 추가 -->
        <div class="search-bar">
            <div class="search-container">
                <form method="GET" action="{% url 'search-results' %}">
                    <input type="text" placeholder="대화하고 싶은 서비스를 검색해보세요" name="query" id="searchInput">
                    <button id="searchButton" type="submit"><img src="{% static 'image/assistant/search.svg' %}" alt="Search"></button>
                </form>
            </div>
        </div>

        <!-- 카테고리 리스트 -->
        <div>
            <ul class="category-list">
                <li><a href="{% url 'main-select' %}">추천</a></li>
                <li><a href="{% url 'local-select' %}">지역별</a></li>
                <li><a href="{% url 'thema-select' %}" class="category-select">테마별</a></li>
                <li><a href="{% url 'independence-select' %}">독립운동</a></li>
            </ul>
        </div>

        <footer></footer>
    </div>
</body>
</html>